@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans' sans-serif;
    background: #fff;
    color: #333; 
    line-height: 1.6;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

a {
    color: #333;
    text-decoration: none;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navigation */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9c5518;
    height: 70px;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 30px;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #9c5518;
}

.navbar ul {
    display: flex;
    list-style: none; 
    font-weight: 400;     
}

.navbar .logo {
    font-weight: 400;
}

/* Header content */
.hero {
    background: url('../img/background.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}

.hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.hero .content p {
    max-width: 750px;
    font-size: 23px;
    margin: 20px 0 30px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero * {
    z-index: 10;
}